body{
    background-color: black;
}

header{
    background-color:darkred;
    font-family:sans-serif;
    overflow: auto;
    width: 100%;       
}

header img{
    float: left;
    width: 100px;    
}

header h1{
    font-size:xx-large;
    font-family:fantasy;
    color: yellow;        
    text-align: center;     
    letter-spacing: 4px;    
}

section{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 1000px;
    width: 100%;
    padding-top: 10px;
}

.menu{
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.menu a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-decoration: none;
    float: left;
    padding: 18px 22px;
    color: white;
}

.menu a:hover{
    background-color: yellow;
    color: black;
}

#art2{
    float: right;
    width: 50%;    
}

#art1{
    float: left;
    width: 50%;           
}

footer{
    background-color: lightblue;
    text-align: center;
}