/* Desarrolle el contenido que llevara la pagina de promociones*/

#titulo{
    font-size: xx-large;
    text-align: center;
    color: #ffb612;
    padding: 15px;
}

div{
    max-width: 55%;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow:hidden;
    border: solid black;        
}

#pro{    
    float: left;
    width: 25%;
    padding: 1%;        
}

.producto a{        
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    color: #ffb612;         
    text-decoration: none;
}

h3{
    margin-left: 25%;
    margin-top: -15px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffb612;   
}

li{
    margin-left: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

