.title{
    text-align: center;
    color: #ffb612;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add{
    float:inline-start;
    width: 50px;
    border-radius: 50%;
    border: solid green;
    margin: auto auto 15px;
}

table, td, th{
    border: solid 1px rgb(0, 0, 0);
    background-color: white;
}

.tablaEntrenador{
    margin: 5.5% auto 5.4% auto;
    max-width: 55%;
    overflow: hidden;
}

.tablaEntrenador td{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tablaEntrenador a{
    color: rgb(0, 0, 0);
}

.tablaEntrenador a:hover{
    color: green;
}